{% extends 'base.html' %}
{% load static %}
{% block room_detail %}
<!-- <div style=" position:fixed; bottom: 0px; right: 300px;"><a class="ui big violet label" style="border-radius: 0px; text-align: center;">Messanger</a></div> -->
<div class="ui grid">
  <div class="four wide column">
    <div class="ui form">
      <div style="height:400px;width:100%;overflow-y:scroll" id="div_data"></div>
      <input type="text" name="message" id="message" placeholder="Message" style="padding:10px;width:100%; border-radius: 0px;">
      <!-- <button type="button" id="send_message" class="ui violet button" style="border-radius: 0px; margin: 5px;" >Send</button> -->
   </div>
   </div>
    <div class="six wide column middle aligned center aligned" >
      <h2>Streaming video Here</h2>
    </div>
    <div class="three wide column" style="padding: 0px; border-left: 1px solid rgb(230, 230, 230); overflow: auto; height: 100%; position: fixed; right:0px;">
      {% if request.user.is_student %}
      <div class="ui horizontal divider">Teacher</div>
      <div class="ui middle aligned selection list" >
        {% for user in room.teacher.all %}
        {% if user.is_teacher %}
        <div class="item" style="border-radius: 0px;">
          <img class="ui avatar image" src="{{user.profile.get_picture}}">
          <div class="content">
            <div class="header">{{ user.username }}</div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      <div class="ui horizontal divider">Students</div>
      <div class="ui middle aligned selection list" >
        {% for user in room.students.all %}
        {% if user.is_student %}
        <div class="item" style="border-radius: 0px;">
          <img class="ui avatar image" src="{{user.profile.get_picture}}">
          <div class="content">
            <div class="header">{{ user.username }}</div>
          </div>
          {% if request.user.is_teacher %}
              <a class="ui red mini button right floated" href="{% url 'rooms:ban_student' uuid=room.invite_url user_id=user.id  %}">Ban</a>
          {% endif %}      
        </div>
        {% endif %}
        {% endfor %}
      </div>
     
    </div>
    
    <script>
        var roomName='{{ room_name }}';
        var personname='{{ request.user.username }}';
        var chatSocket=new WebSocket('ws://'+window.location.host+'/ws/chat/'+roomName+'/');
        chatSocket.onmessage=function(e){
            var data=JSON.parse(e.data)
            var message=data['message']
            var div=document.querySelector("#div_data");
            div.innerHTML+='<br><img class="ui avatar image" style="margin-left:2px;" src="{{user.profile.get_picture}}"><a style="padding:10px; margin-bottom:8px; " class="ui left pointing grey basic label">'+message+'</a>';
          // <i class="ui user icon" style="margin-left:10px;">
          

            console.log(e)
        }
    $('#message').blur(function()
    {
    if( $(this).val().length === 0 ) {
      alert('dsasdas')
    }
    });
        chatSocket.onclose=function(e){ 
            var data=JSON.parse(e.data)
            console.log(data)
            var message=data['message']
            var div=document.querySelector("#div_data");
            div.innerHTML+='<br><img class="ui avatar image" src="{% static "img/tom.jpg" %}"><a style="padding:10px; margin-bottom:8px;" class="ui right pointing teal basic label">'+message+'</a>';
        }
        document.addEventListener("keydown", function(event){
          if(event.which == 13){
            var message=document.querySelector("#message").value;
            chatSocket.send(JSON.stringify({'message':message}))
            document.querySelector("#message").value=''
          }})

    </script>
</div>
{% endblock room_detail %}
