{% extends 'base.html' %}
{% load static %}
{% block room_detail %}

    <div class="fourteen wide column">
        <div class="ui segment">
            <div class="ui dividing right very close rail">
              <div class="ui sticky fixed top" >
                Right Rail Content
              </div>
            </div>
            <p></p>
            <p></p>
          </div>
    </div>


    <!-- <div class="ui grid">
        <div class="ten wide column" style="border: 1px solid grey;"></div>
        <div class="ui dividing right rail" style="border-left: 1px solid rgb(212, 212, 212); padding: 0px; height: 100%;">
            <div class="ui middle aligned selection list">
                <div class="item" style="border-radius: 0px;">
                  <img class="ui avatar image" src="{% static 'img/tom.jpg' %}">
                  <div class="content">
                    <div class="header">Helen</div>
                  </div>
                </div>
                <div class="item" style="border-radius: 0px;">
                    <img class="ui avatar image" src="{% static 'img/tom.jpg' %}">
                    <div class="content">
                      <div class="header">Helen</div>
                    </div>
                  </div>
                  <div class="item" style="border-radius: 0px;">
                    <img class="ui avatar image" src="{% static 'img/tom.jpg' %}">
                    <div class="content">
                      <div class="header">Helen</div>
                    </div>
                  </div>
                  <div class="item" style="border-radius: 0px;">
                    <img class="ui avatar image" src="{% static 'img/tom.jpg' %}">
                    <div class="content">
                      <div class="header">Helen</div>
                    </div>
                  </div>
              </div>
              
        </div>
    </div> -->
{% endblock room_detail %}
