{% extends 'base.html' %}

{% load static %}
{% block header_teacher %}
<div class="ui center aligned grid" style="margin-bottom: 10px;">
    <div class="sixteen wide column"  style="padding: 0px;">
        <div class="ui violet inverted segment">
            <form class="ui inverted icon input" style="float: right; margin-top: 20px; margin-right: 10px;" action="" method="GET">
                    <input type="text" placeholder="Search your rooms" name="room_search_teacher">
                <i class="search icon"></i>
            </form>
            <div class="ui large header" style="padding: 10px; margin: 10px; color: #d3beff; width: 220px;  ">
                Rooms Dashboard  
            </div>
            <div class="ui secondary violet inverted pointing menu" style="padding: 0px; ">
                <a class="item active">
                  Rooms
                </a>
            </div>
         
        </div>
    </div>
</div>

{% endblock header_teacher %}
{% block room %}


<div class="ui grid">
    <div class="sixteen wide column right aligned">
        <div class="ui selection dropdown">
            <input type="hidden" name="sorting">
            <i class="dropdown icon"></i>
            <div class="default text">Sorted by</div>
            <div class="menu">
              <div class="item" data-value="1">A to Z</div>
              <div class="item" data-value="0">Z to A</div>
              <div class="item" data-value="0">Time created</div>
            </div>
        </div>
    </div>
    {% if teacher_rooms %}
    {% for room in teacher_rooms %}
            <div class="three wide column"> 
                <div class="ui special primary cards">
                    <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                              <a href="{% url 'rooms:auth_join' room=room uuid=room.invite_url  %}" class="ui inverted button">Join Room</a>
                            </div>
                        </div>
                        </div>
                        <img src="{% static 'img/tom.jpg' %}">
                    </div>
                    <div class="content">
                        <a class="header center aligned">{{room.title}}</a>
                    </div>
                    <div class="extra content center aligned">
                        <div class="ui divider"></div>
                        <a><i class="users icon"></i>{{room.students.count}} Students</a>
                        <div class="ui divider"></div>
                        <a>Max:{{room.max_students_amount}}</a>
                        <div class="ui divider"></div>
                        {% if room.room_type == 'public' %}
                        <a class="ui green label">{{room.room_type}}</a>
                        {% else %}
                        <a class="ui red label">{{room.room_type}}</a>
                        {% endif %}
                        {% for i in room.subjects.all  %}
                        <a class="ui violet label">{{i}}</a>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
    {% endfor %}
{% else %}
<div class="ui message">
    <div class="header">You have not any created rooms yet</div>
</div>
{% endif %}
</div>
<script>
    $('.special.cards .image').dimmer({on: 'hover'}); 

</script>
{% endblock room %}