{% extends 'base.html' %}
{% block student %}
<div class="ui center aligned grid" style="margin-bottom: 10px;">
  <div class="sixteen wide column">
    {% include "courses/dropdown_order_search.html" %}
  </div>
  {% if courses %}
  {% for course in courses  %}
      {% url 'courses:add_to_wishlist' course as add_wishlist %}
      {% include "courses/course_base.html" with course=course path=add_wishlist %}
  {% endfor %}

  {% else %}
    <div class="ui segment">
        <h4 class="ui header centered">we don't have any courses right now</h4>
    </div>
  {% endif %}
</div>
<script>
    $('.ui.dropdown').dropdown();
</script>
{% endblock student %}

