{% load static %}
<div class="four wide column" style="margin: 5px;">     
     
    <div class="ui special cards">
        <div class="card">
          <a href="{% url 'courses:course_detail' course.slug %}">
            <div class="blurring dimmable image" style="background-color: #f7f7f7;" >
                {% if course.image %}
                <img src="{{course.image.url}}" style="height: 200px; width: 100%; object-fit: contain">
                {% else %}
                <img src="{% static 'img/image.png' %}" style="height: 200px; width: 100%;">
                {% endif %}
            </div>
          </a>
          <div class="content">
            <a class="header" href="{% url 'courses:course_detail' course %}">{{course.title}}</a>
            <a class="header right floated">${{course.price}}</a>
          </div>
          <div class="extra content">
            <span class="right floated like">
              <a href="{{path}}" class="wish_icon">
                {% if course.wish_course.count == 0  %}
                <i class="like icon icon-color"></i>
                {% elif course.wish_course.count == 1 %} 
                <i class="red like icon icon-color"></i>
                {% endif %}  
              </a>
            </span>
            <div class="ui star rating left floated"></div>
          </div>
          <div class="extra content">
            {% if request.user.is_teacher %}
            <div class="ui icon top left pointing dropdown left floated">
              <div >
                <i class="ellipsis horizontal icon"></i>
              </div>             
               <div class="menu">
                <a class="item" href="{% url 'courses:creation_course_content' course.slug %}">Edit</a>
                <a class="item" href="{% url 'courses:delete_course' course.slug %}" style="color: red;">Delete course</a>
              </div>
            </div>
            {% endif %}
              <div class="right floated author">
                <a href="{% url 'users:tutor_profile_view' course.tutor.username %}">
                  <img class="ui avatar image" src="{{course.tutor.profile.get_picture}}">  
                  {{course.tutor.username}}
                </a>

              </div>
          </div>
            {{course_url}}
        </div>
    </div>
</div>
