{% extends 'base.html' %}
{% load static  %}
{% load humanize %}
{% block course_header %}

<div class="ui grid">
  {% include "courses/course_header.html" %}
</div>

{% endblock course_header %}
{% block teacher %}
<div class="ui grid">
  <div class="four wide column" style="position: absolute; right: 50px; top: 120px;">
    <div class="ui cards" >
      <div class="card">
        <div class="content" style="padding: 0px;">
          <div class="description" >
            <a class="click_prev_image ui violet small header"><i class="ui huge play icon"  style="position: absolute; top: 25%; left: 40%;" ></i></a>
            {% if not course.preview_video and  not course.poster_preview_video and not course.image and not course.cover %} 
            <img src="{% static 'img/image.png' %}" width='290' height='200'>
            {% else %}
            <img src="{{course.image.url}}" width='290' height='200'>
            {% endif %}
          </div>
        </div>
        <div class="ui horizontal divider"></div>
        <div class="extra content" style="padding: 10px;">
          <div class="header center aligned">
            ${{course.price}}
          </div>
        </div>
        <div class="extra content">
          <div class="author center aligned">
            <a href="#"><i class="ui share icon"></i> share</a>
          </div>
        </div>
        <div class="ui two bottom attached buttons">
            <a class="ui button" href="{% url 'courses:add_to_cart' course.pk %}">Add to Cart</a>
          <a class="ui green button" href="{% url 'courses:payment' %}">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
      <div class="ui modal">
        <i class="close icon"></i>
        {% if course.preview_video and course.poster_preview_video   %}
        <div style="width:910px; height:510px;">
          {% include "courses/media_player.html" with video=course.preview_video.url poster=course.image.url    %}
        </div>
          {% else %}
          <img src="{% static 'img/image.png' %}" width='290' height='200' alt="">
        {% endif %}
      </div>
      {% if sections %}
      <div class="ui styled accordion" style="margin-top: 22px;">
        <div class="blue ui mini buttons right floated">
          <a href="{% url 'courses:add_section_to_course' %}" class="ui button right floated">Add section</a>
          <a href="{% url 'courses:add_video_to_section' %}" class="ui button right floated">Add video</a>
        </div>

        {% for section in sections %} 
        <div class="title">
          <i class="dropdown icon"></i>
          {{ section.title }}
        </div>
        
        <div class="content">
          <div class="ui divided list">
            {% for video in videos %}
            {% if video.section == section %}
            <div class="item">
              <i class="map video icon"></i>
              <div class="content">
                <a class="header" href="{% url 'courses:video_detail' course.slug video.pk %}">{{ video.title }}</a>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      
      {% if request.is_teacher %}
      <div class="ui segment" style="margin: 22px;">You don't have any section. Create first one <a href="{% url 'courses:add_section_to_course' %}" class="ui violet button">create section</a></div>

      {% endif %}
        
      {% endif %}
    </div>
    
  </div>
  
  <script>
    $('.ui.styled.accordion')
    .accordion({
      selector: {
        trigger: '.title'
      }
    });
 
  </script>
    <div class="ui comments">
      <h3 class="ui dividing header">Comments</h3>
      {% for review in reviews %}
      <div class="comment">
        <a class="avatar">
        </a>
        <div class="content">
          <a class="author">{{ review.reviewer.username }}</a>
          <div class="metadata">
            <span class="date">{{ review.created|naturaltime }}</span>
          </div>
          <div class="text">
            {{ review.body }}
          </div>
        </div>
      </div>
      {% endfor %}
      <form class="ui reply form" method="POST">
        {% csrf_token %}
        <div class="field">
          <textarea name="body"></textarea>
        </div>
       <button class="ui primary button">Add Review</button>
      </form>
    </div>
{% endblock teacher %}