{% extends "base.html" %}

{% block content %}
  
<!-- <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p> -->
<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui top attached ordered steps">  
            {% if wizard.steps.step1 == 1 %}
                <div class="active step">
                    <div class="content">
                    <div class="title">Title</div>
                    <!-- <div class="description">Verify order details</div> -->
                    </div>
                </div>   
              <div class="disabled step">
                <div class="content">
                  <div class="title">Description</div>            
                </div>
              </div>
              <div class="disabled step">
                <div class="content">
                  <div class="title">Choose your category</div>            
                </div>
              </div>
              <div class="disabled step">
                <div class="content">
                  <div class="title">More parameters</div>            
                </div>
              </div>
            {% elif wizard.steps.step1 == 2  %}
            <div class="completed step">
              <div class="content">
              <div class="title">Title</div>
              <!-- <div class="description">Verify order details</div> -->
              </div>
          </div>   
        <div class="active step">
          <div class="content">
            <div class="title">Description</div>            
          </div>
        </div>
        <div class="disabled step">
          <div class="content">
            <div class="title">Choose your category</div>            
          </div>
        </div>
        <div class="disabled step">
          <div class="content">
            <div class="title">More parameters</div>            
          </div>
        </div>
        {% elif wizard.steps.step1 == 3 %}
            <div class="completed step">
              <div class="content">
              <div class="title">Title</div>
              <!-- <div class="description">Verify order details</div> -->
              </div>
          </div>   
        <div class="completed step">
          <div class="content">
            <div class="title">Description</div>            
          </div>
        </div>
        <div class="active step">
          <div class="content">
            <div class="title">Choose your category</div>            
          </div>
        </div>
        <div class="disabled step">
          <div class="content">
            <div class="title">More parameters</div>            
          </div>
        </div>
        {% elif wizard.steps.step1 == 4 %}
        <div class="completed step">
          <div class="content">
          <div class="title">Title</div>
          <!-- <div class="description">Verify order details</div> -->
          </div>
      </div>   
    <div class="completed step">
      <div class="content">
        <div class="title">Description</div>            
      </div>
    </div>
    <div class="completed step">
      <div class="content">
        <div class="title">Choose your category</div>            
      </div>
    </div>
    <div class="active step">
      <div class="content">
        <div class="title">More parameters</div>            
      </div>
    </div>
              {% endif %}
        </div>
    </div>
  
      <div class="eight wide column centered">
        <form action="" method="post" class="ui form segment ">
            {% csrf_token %}
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
              {{ wizard.form.management_form }}
              {% for form in wizard.form.forms %}
                {{ form }}
              {% endfor %}
            {% else %}
              {{wizard.form}}
            {% endif %}
            <input type="submit" value="submit" class="ui violet button" style="margin-top: 15px;"/>    
        </form>
      </div>
  
 
</div>

{% endblock %}
