{% extends 'base.html' %}

{% block title %}Add new section{% endblock title %}

{% block content %}
<form method="POST" class="ui form">
    {% csrf_token %}
    <div class="ui centered grid">
    <div class="eight wide column">
        <h4 class="ui dividing teal header">Create new section</h4>
        <div class="field">
            <label>Select your course</label>
            <select name="course" id="" class="ui dropdown">
            {% for option in section_form.course  %}
                <option value="{{option.pk}}">{{option}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="field">
            <label>Section title</label>
            {{section_form.title}}
        </div>
        <input type="submit" value="submit" class="ui teal button" style="margin-top: 15px;"/>    
    </div>
    </div>
</form>
<script>
        $('.ui.dropdown').dropdown();

</script>
{% endblock content %}