{% extends "base.html" %}

{% block content %}
  
<!-- <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p> -->
<div class="ui grid">
    <div class=" sixteen wide column">
        <div class="ui top attached ordered steps">
            {% for step in wizard.steps.all  %}
            {% if wizard.steps.current == step %}
                <div class="active step">
                    <div class="content">
                    <div class="title">Confirm Order</div>
                    <div class="description">Verify order details</div>
                    </div>
                </div>
            
            {% elif wizard.steps.prev %}
            <div class="completed step">
                <div class="content">
                  <div class="title">Billing</div>
                  <div class="description">Enter billing information</div>
                </div>
              </div>
                                
              {% else  %}
              <div class="disabled step">
                <i class="info circle icon"></i>
                <div class="content">
                  <div class="title">Confirm Order</div>
                  <div class="description">Verify order details</div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
        </div>
    </div>
   <div class="eight wide column center floated">
    <form action="" method="post" class="ui form">
        {% csrf_token %}

      
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">first step</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">prev step</button>
          
            {% endif %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
          {{ wizard.form.management_form }}
          {% for form in wizard.form.forms %}
            {{ form }}
          {% endfor %}
        {% else %}
          {{wizard.form}}
        {% endif %}
        <input type="submit" value="submit" class="ui violet button"/>

    
      </form>

   </div>
 
</div>

{% endblock %}
