{% extends 'base.html' %}

{% block title %}Add new video to the section{% endblock title %}

{% block content %}
<form method="POST" class="ui form video_section video_form" enctype="multipart/form-data" >
    {% csrf_token %}
        <h4 class="ui dividing violet header">Add new video to the section</h4>
        <div class="field">
            <label>Select your section</label>
            {{video_form.section}}
        </div>
        <div class="field">
          <label>Choose your video</label>
          {{video_form.video}}
          <div class="ui indicating progress" data-value="1" data-total="200" id="progress-indicate" style="display:none;">
              <div class="bar">
                <div class="progress"></div>
              </div>
          </div>
                <div class="field">
                    <label>Video title</label>
                    {{video_form.title}}
                </div>
                       <button class="ui violet button" type="submit" style="margin-top: 15px;">Add video</button>

  
</form>
<script>
    $('.ui.dropdown').dropdown();
    $('.ui.form').form({
    on: 'blur',
    fields: {
      section: {
        identifier  : 'section',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please select a dropdown value'
          }
        ]
      },
      title: {
        identifier  : 'title',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please select a dropdown value'
          }
        ]
      }
    }
  });
</script>
{% endblock content %}