
  <video controls crossorigin playsinline id="player" data-poster="{{poster}}" >
    <source src="{{video}}" type="video/mp4">
  </video>

<script>
  document.addEventListener('DOMContentLoaded', () => { 
    const player = new Plyr('#player');
    $("#sprite-plyr").remove()

  window.player = player;
//   function on(selector, type, callback) {
//     document.querySelector(selector).addEventListener(type, callback, false);
//     alert("hello world")

//   }
//   // Play
//   on('.js-play', 'click', () => { 
    
//     $('.ui.modal').modal('show');

//     player.play();

//   });

//   // Pause
//   on('.js-pause', 'click', () => { 
//     player.pause();
//   });

//   // Stop
//   on('.js-stop', 'click', () => { 
//   });

//   // Rewind
//   on('.js-rewind', 'click', () => { 
//     player.rewind();
//   });

//   // Forward
//   on('.js-forward', 'click', () => { 
//     player.forward();
//   });

});
    $(".click_prev_image").on('click', function(){
          $('.ui.modal').modal('show');
    });
    $(".close.icon").on('click',function(){
      player.stop();
    });
        

  </script>