{% extends "base.html" %}
{% load static %}
{% block student %}
<div class="ui center aligned grid" style="margin-bottom: 10px;">
    <div class="sixteen wide column">
      {% include "courses/dropdown_order_search.html" %}
    </div>
  {% for course in filter.qs %}
  {% url 'courses:add_to_wishlist' course as add_wishlist %}
  {% include "courses/course_base.html" with course=course path=add_wishlist %}   
  {% endfor %}
</div>
<script>
  $('.ui.dropdown').dropdown();
</script>
{% endblock student %}