{% extends 'base.html' %}
{% load static %}
{% block header_teacher %}
<div class="ui center aligned grid" style="margin-bottom: 10px;">
    {% include "courses/teacher_header.html" %}
    <div class="sixteen wide column">
      {% include "courses/dropdown_order_search_teacher.html" %}
    </div>
    {% for course in  filter.qs   %}
    {% url 'courses:add_to_wishlist' course as add_wishlist %}
    {% include "courses/course_base.html" with course=course path=add_wishlist %}   
    {% endfor %}
    </div>
    <script>
        $('.ui.dropdown').dropdown();
    </script>
{% endblock header_teacher %}

