<div class="sixteen wide column"  style="padding: 0px;">
    <div class="ui violet inverted segment">
      <form class="ui inverted icon input" style="float: right; margin-top: 20px; margin-right: 10px;" action="{% url 'courses:teacher_search_course' %}" method="GET">
          <input type="text" placeholder="Search your courses" name="title__icontains">
        <i class="search icon"></i>
      </form>
        <div class="ui large header left aligned" style="padding: 10px; margin: 10px; color: #d3beff;">
            <a href="{% url 'courses:my_courses' %}" style="color: white;">Courses Dashboard</a>
        </div>

    </div>
</div>