{% extends 'base.html' %}

{% load static %}
{% block student %}



<div class="ui center aligned grid" style="margin-bottom: 10px;">
      {% if wishlist %}
            {% for course in wishlist  %}
                  {% url 'courses:add_to_wishlist' course.slug as wish_url %}
                  {% include "courses/course_base.html" with path=wish_url %}
            {% endfor %}
      {% else %}
        <div class="ui segment" style="margin: 20px;">
            <h4 class="ui header centered" >You don't have any wishlist </h4>
        </div>
      {% endif %}
</div>
<script>
        $('.blurring.dimmable.image').dimmer({on: 'hover'});

</script>
{% endblock student %}

