<div class="ui three column center aligned grid">
    <div class="ui column center">
        <h2 class="ui column center teal">Log-in to your account</h2>
        <form method="POST" class="ui form">
            <div class="ui stacked segment">
                <div class="field"><input type="text"></div>
                <div class="field"><input type="text"></div>
                <button class="ui teal button">Login</button>
            </div>
        </form>
        <div class="ui message">Don't have account ? <a href="#">Sign up</a></div>
    </div>
</div>