<html>
    <head>
        {% include "css.html" %}
        {% include "js.html" %}
        <title>
            {% block title %}{% endblock title %}
        </title>
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="ui four column doubling stackable grid container">
            {% block room_detail %}{% endblock room_detail %}

            {% block profile %}{% endblock profile %}
            {% block teacher %}{% endblock teacher %}
            {% block student %}{% endblock student %}
            {% block content %}{% endblock content %}
                {% block room %}{% endblock room %}
        </div>
        {% include "footer.html" %}
    </body>
</html>
