<html>
    <head>
        {% include "css.html" %}
        {% include "js.html" %}
        <title>
            {% block title %}{% endblock title %}
        </title>
    <style>
        body, html {
  height: 100%;
}
    </style>
    </head>

    <body>
        {% include "navbar.html" %}
        {% block room_detail %}{% endblock room_detail %}

        <div class="ui container" >
            {% block profile %}{% endblock profile %}
            {% block teacher %}{% endblock teacher %}
            {% block student %}{% endblock student %}
            {% block content %}{% endblock content %}
                {% block room %}{% endblock room %}
                
        </div>
        {% include "footer.html" %}
    </body>
</html>
