<!-- <a href="{% url 'users:login' %}">login</a>
<a href="{% url 'users:signup' %}">signup</a> -->

{% include "css.html" %}
{% load static %}
<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">

        <div class="right item">
          <a class="ui inverted button" href="{% url 'users:login' %}">Log in</a>
        </div>
      </div>
    </div>
    <div class="ui text container">
      <h1 class="ui inverted header">
        TutorOnline
      </h1>
      <h2>Create an account</h2>
      <div class="ui black inverted segment  ">
        <div class="ui two column very relaxed grid ">
          <div class="column">
            <a class="ui huge primary button" href="{% url 'users:teacher_signup' %}" class="btn btn-teacher btn-lg" role="button">I'm a teacher</a>
          </div>
          <div class="column">
            <a class="ui huge primary button" href="{% url 'users:student_signup' %}" class="btn btn-student btn-lg" role="button">I'm a student</a>
          </div>
        </div>
        <div class="ui black inverted segment vertical  divider">
          OR
        </div>
      </div>


    </div>
  </div>
    <div class="ui grid">
      <div class="eight wide column title_header" >
        <h2 style="font-size: 45px; text-align: center; padding: 15px;">As Student <i class="graduation cap icon"></i></h2>
      </div>
      <div class="eight wide column title_header">
        <h2 style="font-size: 45px; text-align: center; padding: 15px;">As Tutor <i class="chalkboard teacher icon"></i>
      </div>

      <div class="eight wide column body centered" style="background-color: #16a085; padding:70px;">
        Chat with mentor and classmates <i class="users icon big"></i>
      </div>
      <div class="eight wide column body centered" style="background-color: #2c3e50;padding: 70px;">
        Create course   <i class="ui big fa-folder-plus icon"></i>

       </div>

      <div class="eight wide column body " style="background-color: #e74c3c;padding: 70px;">
        Search for your courses <i class="file alternate big icon"></i>
      </div>
      <div class="eight wide column body " style="background-color: #f1c40f;padding: 70px;">
        Create room <i class="ui big fa-folder-plus icon"></i>
       </div>
      <div class="eight wide column body " style="background-color: #f39c12;padding: 70px;">
        Video streaming <i class="video big icon"></i>  
      </div>    
      <div class="eight wide column body  " style="background-color:#8e44ad;padding: 70px;">
        Manage your students <i class="ui big fa-user-shield icon"></i>
       </div>
     
    
    </div>

  
  {% include "footer.html" %}
</div>
