<!-- <a href="{% url 'users:login' %}">login</a>
<a href="{% url 'users:signup' %}">signup</a> -->

{% include "css.html" %}

<style type="text/css">
    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }

    .ui.vertical.stripe p {
      font-size: 1.33em;
    }

    .footer.segment {
      padding: 3em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

  </style>
<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <div class="right item">
          <a class="ui inverted button" href="{% url 'users:login' %}">Log in</a>
        </div>
      </div>
    </div>
    <div class="ui text container">
      <h1 class="ui inverted header">
        TutorOnline
      </h1>
      <h2>Create an account</h2>
      <div class="ui black inverted segment  ">
        <div class="ui two column very relaxed grid ">
          <div class="column">
            <a class="ui huge primary button" href="{% url 'users:teacher_signup' %}" class="btn btn-teacher btn-lg" role="button">I'm a teacher</a>
          </div>
          <div class="column">
            <a class="ui huge primary button" href="{% url 'users:student_signup' %}" class="btn btn-student btn-lg" role="button">I'm a student</a>
          </div>
        </div>
        <div class="ui black inverted segment vertical  divider">
          OR
        </div>
      </div>


    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
        </div>
      </div>
    </div>
  </div>
  {% include "footer.html" %}
</div>
