{% load static %}
<div class="ui top menu" style="border: 0px; margin-top: 0px;">
    <a class="item" href="{% url 'core:dashboard' %}">Dashboard</a>
    {% if user.is_authenticated %}
    <div class="right menu">
        {% if user.is_teacher %}
            <div class="right item">
                <a href="{% url 'rooms:teacher_created_rooms' user.username %}" class="ui violet button">My rooms</a>
            </div>
            <div class="right item">
                <a href="{% url 'courses:my_courses' %}" class="ui violet button">My courses</a>
            </div>

         {% else %}
         <div class="ui left aligned category search item">
            {% if  '/courses/' in request.path  %}
            <form class='ui transparent icon input' method="get" action="{% url 'courses:course_search' %}">
                <input class="prompt" type="text" placeholder="Search for anything" style="width: 400px;" name="title__icontains">
            </form>
            {% else %}
            <form class='ui transparent icon input' method="get" action="{% url 'rooms:search_name' %}">
                <input class="prompt" type="text" placeholder="Search for anything" style="width: 400px;" name="title__icontains">
            </form>
            {% endif %}
              <i class="search link icon"></i>
            <div class="results"></div>
          </div>
            <a href="{% url 'courses:wishlist' %}" class="ui item"><i class="icon large red heart outline" style="margin: 0px;"></i></a>
            <a href="" class="ui item"><i class="bell large outline icon" style="margin: 0px;" ></i></i></a>
            <a href="{% url 'courses:cart'  %}" class="ui item"><i class="large green shopping cart icon" style="margin: 0px;"></i></a>
         <div class="right item">
            <a href="{% url 'courses:courses' %}" class="ui green button">Browse All courses</a>
         </div>
        {% endif %}
        <div class="ui top right pointing dropdown item" style="margin-right: 12px;" >
            <img class="ui avatar image" src="{% static 'blocked.png' %}">
            <span>{{user.username}}</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'users:profile' %}" >My profile</a>
                <a class="item" href="{% url 'users:logout' %}" >Logout</a>
            </div>
        </div>  
    </div>
    {% endif %}
</div>  

<script>
    $('.ui.dropdown').dropdown();
</script>