{% extends 'base.html' %}

{% block student %}

<div class="ui center aligned grid ">
    <div class="four wide column left floated dashboard-block-student centered" style="background-color: #1abc9c; ">
    <h2 style="color: white;" class="title-header">COURSE</h2>
    <b class="text-block-student ">You can find all courses</b>
    <div class='button-student'>
        <a class="ui button big inverted white" href="{% url 'courses:courses' %}" >Courses</a>

    </div>

    </div>
    <div class="four wide column left floated dashboard-block-student" style="background-color: #e74c3c;">
        <h2 style="color: white;" class="title-header">WISHLIST</h2>
        <b class="text-block-student">Add favourite course in wishlist </b>
        <div class='button-student'>
            <a class="ui button big inverted white" href="{% url 'courses:wishlist' %}">Wishlist</a>

        </div>

    </div>
    <div class="four wide column left floated dashboard-block-student" style="background-color: #3498db;">
        <h2 style="color: white;" class="title-header">ROOM</h2>
        <b class="text-block-student">Access room</b>

        <div class='button-student'>
            <a class="ui button big inverted white" href="{% url 'rooms:rooms' %}">Rooms</a>

        </div>

    </div>
    <div class="four wide column left floated dashboard-block-student" style="background-color: #9b59b6;">
        <h2 style="color: white;" class="title-header">PROFILE</h2>
        <b class="text-block-student">Edit your profile</b>
        <div class='button-student'>
            <a class="ui button big inverted white" href="{% url 'users:profile' %}">Profile</a>
        </div>
    </div>

    <div class="four wide column left floated dashboard-block-student" style="background-color:#2ecc71;">
        <h2 style="color: white;" class="title-header">CART</h2>
        <b class="text-block-student">Go to your cart</b>

        <div class='button-student'>
            <a class="ui button big inverted white " href="{% url 'courses:cart'  %}">Cart</a>

        </div>

    </div>

    <!-- <div class="ten wide column">
        <a href="{% url 'rooms:rooms' %}" class="ui green big button">Show rooms</a>
    </div> -->

</div>

  
{% endblock student %}