{% extends "base.html" %}

{% block title %}{% endblock title %}
{% block teacher %}

<div class="row">
    <div class="ui segment">
        <div class="ui two column very relaxed grid">
          <div class="column center aligned">
              <a href="{% url 'courses:create_course' %}" class="ui violet big button">Create Course</a>
          </div>
          <div class="column center aligned">
              <a href="{% url 'rooms:create_room' %}" class="ui violet big button">Create Room</a>
          </div>
        </div>
        <div class="ui vertical divider">
          OR
        </div>
      </div>
      <a href="{% url 'courses:creation_course_content' %}" class="ui button ">Creation course</a>
</div>

{% endblock teacher %}